/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 110px 0 50px 0;
}
.header_origin_margin{
	margin: 50px 0px;
}
.login{
	cursor: pointer;
}
.login:hover{
	font-weight: bold;
}
/* Bandeau supérieur */
.admin_mode{
	position: absolute;
	top: 0;
	right: 0;
	background-color: black;
	width: 100%;
	height: 59px;
	align-content: center;
	display: block;
}
/* Ajout ou suppresion de la class en fonction du token ou non */
.admin_mode_disabled{
	display: none;
}
.admin_mode p{
	color: white;
	display: flex;
	justify-content: center;

}
.admin_mode i{
	display: flex;
	justify-content: center;
	color: white;
}
.admin_mode i p{
	font-family: "Work Sans", sans-serif;
	margin-left: 5px;
}
/* Fin bandeau supérieur */
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
/* H2 bouton modifier admin */
.modif_admin{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 90px;
}
.modif_admin button{
	/* Ici il faut appliquer le display none */
	border: none;
	background: none;
	cursor: pointer;
}
.modif_admin i{
	display: flex;
	justify-content: center;
	color: black;
	font-size: 14px;
	margin-left: 15px;
}
.modif_admin i p{
	font-family: "Work Sans", sans-serif;
	margin-left: 5px;
}

/* Fin */ 
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a{
	text-decoration: none;
	color: black;
}
nav li a:hover{
    color: #B1663C;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.container__filter{
	width: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 30px;
}
.container__filter .btn__filter{
	border: 1px solid;
	border-radius: 15px;
	padding: 7px 15px 7px 15px;
	background-color: white;
	color: #1D6154;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	margin: 5px;
	font-family: 'Syne', sans-serif;
}
.container__filter .btn__filter:hover{
	color: white;
	background-color: #1D6154;
}

/* Modale Ajout/Suppression */

/* Display none */
.modale_admin{
	display: none;
}
/*//////////////////////////////////////////*/

.background__modale{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 375%;
	background: #0000004D;
}

.modale__container{
	background: white;
	position: absolute;
	top: 50%;
	left: 35%;
	width: 630px;
	height: 688px;
	border-radius: 15px;
}
.modale__container .close_modale{
	display: flex;
	justify-content: end;
	margin: 25px 25px 0 0;
}
.modale__container .close_modale i{
	display: flex;
	justify-content: end;
	width: 15px;
	cursor: pointer;
	font-size: 20px;
}
.modale__container .close_modale .fa-arrow-left{
	display: none;
}
.title__modale{
	display: flex;
	justify-content: center;
	color: black;
	margin-top: 20px;
}

.preview_projet{
	margin: 50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 70%;
}
.preview_projet figure{
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.preview_projet figure img{
	width: 76px;
	height: 102px;
	z-index: 1;
}
.preview_projet figure i{
	position: relative;
	left: 58px;
	bottom: 98px;
	width: 15px;
	height: 15px;
	z-index: 2;
	font-size: 10px;
	color: white;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}
/* Ajout suppression: modale 2 */

.add_projet{
	display: none;
	flex-direction: column;
}
.btn_add{
	width: 420px;
	height: 169px;
	margin: 35px auto;
	z-index: 0;
	border: none;
	background: #E8F1F6;
}
.btn_add_picture{
	position: absolute;
	top: 222px;
	left: 226px;
	z-index: 0;
	border: 1px solid #CBD6DC;
	width: 173px;
	height: 36px;
	border-radius: 30px;
	color: #306685;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #CBD6DC;
	font-family: "Work sans", sans-serif;
	font-weight: bold;
}
.fa-image{
	display: flex;
	justify-content: center;
	font-size: 72px;
	margin-bottom: 18px;
	color: #B9C5CC;
}
#preview{
	max-width: 184px;
	max-height: 200px;
	position: absolute;
	z-index: 3;
	top: 125px;
	right: 217px;
}
#picture{
	position: relative;
	opacity: 0;
	z-index: 1;
	width: 170px;
	margin-bottom: 10px;
}
.forma_accepted{
	margin-top: 10px;
	color: #444444;
}
#label_title_add{
	display: flex;
	justify-content: center;
	width: 233px;
	margin-bottom: 10px;
}
#title_add_img{
	margin: auto;
	width: 420px;
	height: 47px;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;

}
#label_categories{
	display: flex;
	justify-content: center;
	width: 263px;
	margin: 18px 0;
}
#categories_add{
	margin: 0 auto 65px auto;
	width: 430px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;

}
/*//////////////////////////////////////*/
.line__modale{
	border-top: 1px solid #B3B3B3;
	width: 420px;
	display: flex;
	justify-content: center;
	margin: auto;
}
.btn__modale{
	display: flex;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: auto;
	margin-top: 40px;
	padding: 10px 40px;
	width: auto;
	text-align: center;
	border-radius: 60px ;
	border: none;
	cursor: pointer;
}
.btn__modale__add{
	display: none;
	justify-content: center;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: auto;
	margin-top: 40px;
	padding: 10px 70px;
	width: auto;
	text-align: center;
	border-radius: 60px ;
	border: none;
	cursor: pointer;
}
.fa-trash-can{
	cursor: pointer;
}